@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

.login-container{
    background-image: url("https://media.zicxa.com/2900106");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form-container{
    font-family: 'Raleway', sans-serif;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;

}

.title, [title="EMAIL"], [title="PASSWORD"], .text{
    color: white !important;
}

.footer p{
    cursor: pointer;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: #31d7a9;
    
}

[type='submit']{
    display: inline-block;
    width: 10rem;
    margin-top: 15px;
    background-image: linear-gradient(to bottom right, #7d78ff, #11326f);
    color: white;
    border: none;
    border-radius: 15px;
    height: 2.5rem;
}

.box-account-info{
    margin-top: 2rem;
}

.box-head{
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1rem;
    padding-bottom: 7px;
}

.box-account-info .box-head h2{
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0;
}

.box-title h3{
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    padding-right: 5%;
}

.box-title a{
    display: inline-block;
    font-size: 12px;
    background: #9d9b9b;
    color: #fff;
    min-width: 85px;
    padding: 3px 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.box-title a:hover{
    color: #fff;
}

.box-content span{
    float: left;
    width: 100%;
    display: inline;
    margin-bottom: 7px;
}


