.background {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.background::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("http://pixner.net/boleto/demo/assets/images/account/account-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

